body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: black;
    overflow: hidden;
    background-image: url("assets/image.jpg");
    background-position: center;
    background-size: cover;
    animation: fadeIn 1s ease-out forwards;

}

body, #left-div, #right-div, .planet {
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sun {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    background-image: url("assets/sun.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.planet {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: fadeIn 1.5s ease-out 0.5s forwards;
}

.orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid grey;
    border-radius: 50%;
    background: transparent;
}

.mercury {
    background-image: url("assets/mercury.png");
    background-size: cover;
    top: 85px;
    left: 5px;
    width: 11px;
    height: 11px;
}

.venus {
    background-image: url("assets/venus.png");
    background-size: cover;
    top: 165px;
    left: 130px;
    width: 13.5px;
    height: 13.5px;
}

.earth {
    background-image: url("assets/earth.png");
    background-size: cover;
    width: 13.5px;
    height: 13.5px;
    top: 190px;
    left: 210px;
}  

.mars {
    background-image: url("assets/mars.png");
    background-size: cover;
    width: 13.5px;
    height: 13.5px;
    top: 145px;
    left: -7px;
}

.jupiter {
    background-image: url("assets/jupiter.png");
    background-size: cover;
    width: 40px;
    height: 40px;
    top: 60px;
    left: 390px;
}

.saturn{
    background-image: url("assets/saturn.png");
    width: 60px;
    height: 50px;
    top: 390px;
    left: 535px;
    border-radius: 0;  
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.uranus{
    background-image: url("assets/uranus.png");
    width: 40px;
    height: 40px;
    top: 30px;
    left: 520px;
    border-radius: 0; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
} 

.neptune{
    background-image: url("assets/neptune.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 450px;
    left: 835px;
} 

#orbit-mercury {
    position: absolute;
    width: 109px;
    height: 109px;
    border: 2px #4A437F dashed;
    border-radius: 100%;
    background: transparent;
    pointer-events: none;
    rotate: 0deg;
}

#orbit-venus {
    position: absolute;
    width: 182px;
    height: 182px;
    border-radius: 100%;
    background: transparent;
    border: 2px #4A437F dashed;
    pointer-events: none;
    rotate: 0deg;
}

#orbit-earth {
    position: absolute;
    width: 242px;
    height: 242px;
    border-radius: 100%;
    background: transparent;
    border: 2px #4A437F dashed;
    pointer-events: none;
    rotate: 0deg;
}

#orbit-mars {
    position: absolute;
    width: 302px;
    height: 302px;
    border-radius: 100%;
    background: transparent;
    border: 2px #4A437F dashed;
    pointer-events: none;
    rotate: 0deg;
}

#orbit-jupiter {
    position: absolute;
    width: 465px;
    height: 465px;
    border-radius: 100%;
    background: transparent;
    border: 2px #4A437F dashed;
    pointer-events: none;
    rotate: 0deg;
}

#orbit-saturn {
    position: absolute;
    width: 590px;
    height: 590px;
    border-radius: 100%;
    background: transparent;
    border: 2px #4A437F dashed;
    pointer-events: none;
    rotate: 0deg;
}

#orbit-uranus {
    position: absolute;
    width: 720px;
    height: 720px;
    border-radius: 100%;
    background: transparent;
    border: 2px #4A437F dashed;
    pointer-events: none;
    rotate: 0deg;
}

#orbit-neptune {
    position: absolute;
    width: 850px;
    height: 850px;
    border-radius: 100%;
    background: transparent;
    border: 2px #4A437F dashed;
    pointer-events: none;
    rotate: 0deg;
}

.time-display {
    font-size: 5vw;
    user-select: none;
    pointer-events: none;
    color: white;
    font-family: 'CustomFont', fallback, sans-serif;
    text-shadow: 2px 2px 4px #000000;
    border-bottom: 1px solid white; 
    width: 100%; 
    text-align: center; 
    padding-bottom: 10px;
}

.news-article * {
    margin: 5px;
    padding: 5px;
}

.news-article {
    background-color: rgba(0, 0, 0, 0.5); 
    border-bottom: 1px solid #ccc; 
}

#space-news-title, .news-article {
    margin: 0;
}

#space-news-title {
    user-select: none;
    pointer-events: none;
    font-size: 1.5vw;
    margin-bottom: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'CustomFont', fallback, sans-serif;
    border-bottom: 1px solid white; 
    width: 100%; 
    padding: 15px;
}

.news-article:last-child {
    border-bottom: none;
}

.news-title {
    font-size: 0.8vw;
    color: white;
    margin-bottom: 3px;
    font-family: 'CustomFont', fallback, sans-serif;
}


.news-date, .news-link {
    font-size: 0.8vw;
    display: inline-block;
    margin-right: 10px; 
    color: #ccc;
    font-family: 'CustomFont', fallback, sans-serif;
}

#right-div {
    position: fixed;
    left: 2%;
    top: 50;
    height: 63%;
    width: 22%;
    box-sizing: border-box; 
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px #fff solid;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    animation: fadeIn 1.5s ease-out 2s forwards; 
}

#left-div {
    position: fixed;
    right: 2%;
    top: 50;
    height: 63%;
    width: 22%;
    box-sizing: border-box; 
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px #fff solid;
    border-radius: 15px;
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
    animation: fadeIn 1.5s ease-out 2s forwards;
}

#info-title {
    user-select: none;
    pointer-events: none;
    font-size: 1.5vw;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'CustomFont', fallback, sans-serif;
    border-bottom: 1px solid white; 
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}

#info-content {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    pointer-events: none;
}

#galaxy-img {
    max-width: 100%; 
    height: auto; 
    width: 200px;
    height: auto; 
    display: block; 
    pointer-events: none;
    user-select: none;
}


#general-description{
    font-family: 'CustomFont', fallback, sans-serif;
    width: 100%; 
    padding: 10px;
    text-align: center; 
    font-size: 0.75vw;
    user-select: none;
    pointer-events: none;
}

#image-description{
    font-family: 'CustomFont', fallback, sans-serif;
    width: 100%; 
    padding: 10px;
    text-align: center; 
    font-size: 0.75vw;
    user-select: none;
    pointer-events: none;
}


#image-container {
    width: 100%;
    padding: 10px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    pointer-events: none;
    user-select: none;
}   


#fun-facts-container {
    font-family: 'CustomFont', fallback, sans-serif;
    margin-top: 10px;
    padding: 2px 10px;
    border-top: 1px solid white;
    user-select: none;
    pointer-events: none;
}

#fun-facts-container h2 {
    font-size: 0.9vw;
    color: #fff; 
    margin-bottom: 10px;
}

#fun-facts-list {
    list-style-type: square; 
    padding-left: 20px;
}

#fun-facts-list li {
    font-size: 0.76vw;
    margin-bottom: 5px;
    line-height: 1.2;
    color: #fff; 
}


@font-face {
    font-family: 'CustomFont';
    src: url('assets/Orbitron-Regular.ttf');
  }
