body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: black;
    overflow: hidden;
    background-image: url("image.jpg");
    background-position: center;
    background-size: cover;

}

@keyframes spin-earth {
    0% {
        transform: rotate(0deg) translate(-127.5px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translate(-127.5px) rotate(-360deg);
    }
}


.sun {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.planet {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
}

.orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid grey;
    border-radius: 50%;
    background: transparent;
    pointer-events: none;
}

.mercury {
    position: absolute;
    background: grey;
    top: 85px;
    left: 5px;
    width: 11px;
    height: 11px;
    pointer-events: none;
}

.venus {
    position: absolute;
    background: orange;
    top: 165px;
    left: 130px;
    width: 13.5px;
    height: 13.5px;
    pointer-events: none;
}

.earth {
    background: blue;
    width: 13.5px;
    height: 13.5px;
    top: 190px;
    left: 210px;
    pointer-events: none;
}

.mars {
    background: red;
    width: 13.5px;
    height: 13.5px;
    top: 145px;
    left: -7px;
    pointer-events: none;
}
.jupiter {
    background: beige;
    width: 35px;
    height: 35px;
    top: 60px;
    left: 390px;
    pointer-events: none;
}

.saturn{
    background: brown;
    width: 35px;
    height: 35px;
    top: 400px;
    left: 545px;
    pointer-events: none;
} 

.uranus{
    background: lightblue;
    width: 35px;
    height: 35px;
    top: 30px;
    left: 520px;
    pointer-events: none;
} 

.neptune{
    background: darkblue;
    width: 35px;
    height: 35px;
    top: 450px;
    left: 830px;
    pointer-events: none;
} 

#orbit-mercury {
    position: absolute;
    width: 109px;
    height: 109px;
    border: 2px #4A437F dashed;
    border-radius: 100%;
    background: transparent;
    pointer-events: none;
    rotate: 0deg;
}

#orbit-venus {
    position: absolute;
    width: 182px;
    height: 182px;
    border-radius: 100%;
    background: transparent;
    border: 2px #4A437F dashed;
    pointer-events: none;
    rotate: 0deg;
}

#orbit-earth {
    position: absolute;
    width: 242px;
    height: 242px;
    border-radius: 100%;
    background: transparent;
    border: 2px #4A437F dashed;
    pointer-events: none;
    rotate: 0deg;
}

#orbit-mars {
    position: absolute;
    width: 302px;
    height: 302px;
    border-radius: 100%;
    background: transparent;
    border: 2px #4A437F dashed;
    pointer-events: none;
    rotate: 0deg;
}

#orbit-jupiter {
    position: absolute;
    width: 465px;
    height: 465px;
    border-radius: 100%;
    background: transparent;
    border: 2px #4A437F dashed;
    pointer-events: none;
    rotate: 0deg;
}

#orbit-saturn {
    position: absolute;
    width: 590px;
    height: 590px;
    border-radius: 100%;
    background: transparent;
    border: 2px #4A437F dashed;
    pointer-events: none;
    rotate: 0deg;
}

#orbit-uranus {
    position: absolute;
    width: 720px;
    height: 720px;
    border-radius: 100%;
    background: transparent;
    border: 2px #4A437F dashed;
    pointer-events: none;
    rotate: 0deg;
}

#orbit-neptune {
    position: absolute;
    width: 850px;
    height: 850px;
    border-radius: 100%;
    background: transparent;
    border: 2px #4A437F dashed;
    pointer-events: none;
    rotate: 0deg;
}

.time-display {
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    transform: translate(-50%, 155px);
    font-size: 3em;
    color: white;
    z-index: 10;
}

@-webkit-keyframes spin-right {
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  